{% extends 'base.html' %}

{% block headContent %}
    {{ super() }}
    <link href="/static/assets/custom/create-rule.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
    Tambah Data Aturan
{% endblock %}

{% block mainContent %}
<div class="row">
    <!-- column -->
    {% raw %}
    <div class="col-md-12">
        <div class="card" id="main-card">
            <div class="card-body">
                <h4 class="card-title">Input data aturan</h4>
                <form method="POST" action="/admin/rules/create">

                  <div class="form-group">
                      <label>Penyakit</label>
                      <select class="form-control" v-model="selectedPenyakitId">
                          <option v-for="penyakit in listPenyakit" :key="`penyakit-option-${penyakit.id}`" v-bind:value="penyakit.id">
                            {{ penyakit.nama }}
                          </option>
                      </select>
                  </div>

                    <table class="table table-responsive table-small">
                            <thead>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        Nama
                                    </td>
                                    <td>
                                        Bobot
                                    </td>
                                    <td>
                                        Order
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="g in listGejala" :key="`gejala-${g.id}`">
                                    <td>
                                        <label>
                                            <input type="checkbox" class="form-check-input"
                                                   v-on:change="selectGejala($event, g.id)"
                                                   v-bind:checked="g.selected"
                                                   style="margin-left: 10px;"
                                            />
                                        </label>
                                    </td>
                                    <td>
                                        {{ g.nama }}
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" min=0 max=0 step=0.01 v-model="g.weight" />
                                    </td>
                                    <td>
                                        <input type="number" min="0" class="form-control" v-model="g.vorder" placeholder="vorder" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    <button type="button" v-on:click="saveRule" class="btn btn-info btn-lg btn-rounded waves-effect waves-light m-b-40 my-4">Simpan</button>
                </form>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/assets/custom/vue.js" ></script>
    <script>
        $(document).ready(function () {
            var app = new Vue({
                el: "#main-card",
                data: {
                    hello: 'World',
                    listPenyakit: [ {{ vue['list_penyakit']|safe }} ],
                    listGejala: [ {{ vue['list_gejala']|safe }} ],
                    selectedPenyakitId: null
                },
                methods: {
                    selectGejala (event, id) {
                        var gejala = this.listGejala.find(gejala => gejala.id == id)
                        if (!gejala) return
                        var selected = event.target.selected
                        if (!selected) {
                            var totalSelected = this.totalSelected
                            gejala.selected = true
                            gejala.vorder = totalSelected + 2
                        } else {
                            gejala.selected = false
                            gejala.vorder = 0
                        }
                    },
                    saveRule () {
                        var penyakit_id = this.selectedPenyakitId
                        var gejala = this.listGejala.filter(g => g.selected)
                        var payload = {
                            penyakit_id,
                            gejala
                        }
                        payload = JSON.stringify(payload)
                        var options = {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: payload
                        }

                        fetch("/admin/rules/create", options)
                            .then(() => {
                                window.location = "/admin/rules"
                            })
                            .catch(err => {
                                console.log(err)
                                alert("Terjadi kesalahan")
                                window.location.reload()
                            })
                    }
                }
            })
        })
    </script>
{% endblock %}