<!DOCTYPE html>
<html lang="en">

<head>
    {% block head_content %}
        {% include "user/commons/head-content.html" %}
    {% endblock %}
</head>

<body>
	<!-- Header -->
	{% block header %}
	{% endblock %}

	{% block main_content %}
	{% endblock %}

    {% block footer %}
        {% include "user/commons/footer.html" %}
    {% endblock %}

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	{% block scripts %}
        {% include "user/commons/scripts.html" %}
    {% endblock %}

</body>

</html>
