{% extends "user/with_hero.html" %}

{% block main_content %}
		<!-- About -->
		<div id="about" class="section md-padding">

			<!-- Container -->
			<div class="container">

				<!-- Row -->
				<div class="row">

					<!-- Section header -->
					<div class="section-header text-center">
						<h2 class="title">Welcome to Website</h2>
					</div>
					<!-- /Section header -->

					<!-- about -->
					<div class="col-md-4">
						<div class="about">
							<i class="fa fa-cogs"></i>
							<h3>Fully Customizible</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
							<a href="#">Read more</a>
						</div>
					</div>
					<!-- /about -->

					<!-- about -->
					<div class="col-md-4">
						<div class="about">
							<i class="fa fa-magic"></i>
							<h3>Awesome Features</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
							<a href="#">Read more</a>
						</div>
					</div>
					<!-- /about -->

					<!-- about -->
					<div class="col-md-4">
						<div class="about">
							<i class="fa fa-mobile"></i>
							<h3>Fully Responsive</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
							<a href="#">Read more</a>
						</div>
					</div>
					<!-- /about -->

				</div>
				<!-- /Row -->

			</div>
			<!-- /Container -->

		</div>
		<!-- /About -->


		<!-- Portfolio -->
		<div id="portfolio" class="section md-padding bg-grey">

			<!-- Container -->
			<div class="container">

				<!-- Row -->
				<div class="row">

					<!-- Section header -->
					<div class="section-header text-center">
						<h2 class="title">Featured Works</h2>
					</div>
					<!-- /Section header -->

					<!-- Work -->
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive" src="./img/work1.jpg" alt="">
						<div class="overlay"></div>
						<div class="work-content">
							<span>Category</span>
							<h3>Lorem ipsum dolor</h3>
							<div class="work-link">
								<a href="#"><i class="fa fa-external-link"></i></a>
								<a class="lightbox" href="./img/work1.jpg"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<!-- /Work -->

					<!-- Work -->
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive" src="./img/work2.jpg" alt="">
						<div class="overlay"></div>
						<div class="work-content">
							<span>Category</span>
							<h3>Lorem ipsum dolor</h3>
							<div class="work-link">
								<a href="#"><i class="fa fa-external-link"></i></a>
								<a class="lightbox" href="./img/work2.jpg"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<!-- /Work -->

					<!-- Work -->
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive" src="./img/work3.jpg" alt="">
						<div class="overlay"></div>
						<div class="work-content">
							<span>Category</span>
							<h3>Lorem ipsum dolor</h3>
							<div class="work-link">
								<a href="#"><i class="fa fa-external-link"></i></a>
								<a class="lightbox" href="./img/work3.jpg"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<!-- /Work -->

					<!-- Work -->
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive" src="./img/work4.jpg" alt="">
						<div class="overlay"></div>
						<div class="work-content">
							<span>Category</span>
							<h3>Lorem ipsum dolor</h3>
							<div class="work-link">
								<a href="#"><i class="fa fa-external-link"></i></a>
								<a class="lightbox" href="./img/work4.jpg"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<!-- /Work -->

					<!-- Work -->
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive" src="./img/work5.jpg" alt="">
						<div class="overlay"></div>
						<div class="work-content">
							<span>Category</span>
							<h3>Lorem ipsum dolor</h3>
							<div class="work-link">
								<a href="#"><i class="fa fa-external-link"></i></a>
								<a class="lightbox" href="./img/work5.jpg"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<!-- /Work -->

					<!-- Work -->
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive" src="./img/work6.jpg" alt="">
						<div class="overlay"></div>
						<div class="work-content">
							<span>Category</span>
							<h3>Lorem ipsum dolor</h3>
							<div class="work-link">
								<a href="#"><i class="fa fa-external-link"></i></a>
								<a class="lightbox" href="./img/work6.jpg"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
					<!-- /Work -->

				</div>
				<!-- /Row -->

			</div>
			<!-- /Container -->

		</div>
		<!-- /Portfolio -->

		<!-- Service -->
		<div id="service" class="section md-padding">

			<!-- Container -->
			<div class="container">

				<!-- Row -->
				<div class="row">

					<!-- Section header -->
					<div class="section-header text-center">
						<h2 class="title">What we offer</h2>
					</div>
					<!-- /Section header -->

					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-diamond"></i>
							<h3>App Development</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->

					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-rocket"></i>
							<h3>Graphic Design</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->

					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-cogs"></i>
							<h3>Creative Idea</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->

					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-diamond"></i>
							<h3>Marketing</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->

					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-pencil"></i>
							<h3>Awesome Support</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->

					<!-- service -->
					<div class="col-md-4 col-sm-6">
						<div class="service">
							<i class="fa fa-flask"></i>
							<h3>Brand Design</h3>
							<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
						</div>
					</div>
					<!-- /service -->

				</div>
				<!-- /Row -->

			</div>
			<!-- /Container -->

		</div>
		<!-- /Service -->


		<!-- Blog -->
		<div id="blog" class="section md-padding bg-grey">

			<!-- Container -->
			<div class="container">

				<!-- Row -->
				<div class="row">

					<!-- Section header -->
					<div class="section-header text-center">
						<h2 class="title">Recents news</h2>
					</div>
					<!-- /Section header -->

					<!-- blog -->
					<div class="col-md-4">
						<div class="blog">
							<div class="blog-img">
								<img class="img-responsive" src="./img/blog1.jpg" alt="">
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li><i class="fa fa-user"></i>John doe</li>
									<li><i class="fa fa-clock-o"></i>18 Oct</li>
									<li><i class="fa fa-comments"></i>57</li>
								</ul>
								<h3>Molestie at elementum eu facilisis sed odio</h3>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								<a href="blog-single.html">Read more</a>
							</div>
						</div>
					</div>
					<!-- /blog -->

					<!-- blog -->
					<div class="col-md-4">
						<div class="blog">
							<div class="blog-img">
								<img class="img-responsive" src="./img/blog2.jpg" alt="">
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li><i class="fa fa-user"></i>John doe</li>
									<li><i class="fa fa-clock-o"></i>18 Oct</li>
									<li><i class="fa fa-comments"></i>57</li>
								</ul>
								<h3>Molestie at elementum eu facilisis sed odio</h3>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								<a href="blog-single.html">Read more</a>
							</div>
						</div>
					</div>
					<!-- /blog -->

					<!-- blog -->
					<div class="col-md-4">
						<div class="blog">
							<div class="blog-img">
								<img class="img-responsive"  src="./img/blog3.jpg" alt="">
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li><i class="fa fa-user"></i>John doe</li>
									<li><i class="fa fa-clock-o"></i>18 Oct</li>
									<li><i class="fa fa-comments"></i>57</li>
								</ul>
								<h3>Molestie at elementum eu facilisis sed odio</h3>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								<a href="blog-single.html">Read more</a>
							</div>
						</div>
					</div>
					<!-- /blog -->

				</div>
				<!-- /Row -->

			</div>
			<!-- /Container -->

		</div>
		<!-- /Blog -->

{% endblock %}