{% extends 'base.html' %}

{% block pageTitle %}
    Diagnosa
{% endblock %}

{% block mainContent %}
<div id="app">
    {% raw %}
    <div class="row">
        <!-- column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pilih Gejala</h4>
                    <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd no-wrap pro-of-month">
                        <thead>
                            <tr>
                                <th colspan="2">Gejala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="gejala in listGejala" :key="`gejala-it-{gejala.id}`">
                                <td style="width:50px;">
                                    <label>
                                        <input type="checkbox" class="form-check-input" v-model="gejala.selected" style="margin-left: 10px;" />
                                        {{ gejala.nama }}
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" v-on:click="diagnosa">Diagnosa</button>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var VUE_USER_ID = {{user_id}};
    </script>
    <script src="/static/assets/custom/vue.js" ></script>
    <script src="/static/assets/custom/diagnosa.js" ></script>
{% endblock %}