.ct-label {
    font-weight: bold;
}

#main-chart .ct-bar {
    stroke-width: 60px;
    stroke: #398bf7;
}
#main-chart .ct-label, #gejala-chart .ct-label {
    font-weight: bold;
}

#sales-overview2 .ct-point {
  stroke-width: 6px;
  stroke: #398bf7; }

#sales-overview2 .ct-grid {
  stroke-dasharray: 0px;
  stroke: rgba(120, 130, 140, 0.13); }

#sales-overview2 .ct-area {
  fill-opacity: 0; }

#sales-overview2 .ct-line {
  stroke-width: 3px;
  stroke: #398bf7;
}

#gejala-chart .ct-bar {
    stroke-width: 24px;
    stroke: #398bf7;
}
