<nav class="navbar h-100 navbar-expand-lg align-items-center">
    <!-- Logo -->
    <a class="navbar-brand" href="index.html">
        <h3 style="color: white; font-weight: bold;">Sigigi</h3>
    </a>

    <!-- Menu Area -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
        <ul class="navbar-nav animated" id="nav">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
        <!-- Search Form Area Start -->
        <div class="search-form-area animated">
            <form action="#" method="post">
                <input type="search" name="search" id="search" placeholder="Type keywords &amp; hit enter">
                <button type="submit" class="d-none"><img src="/static/home/img/core-img/search-icon.png" alt="Search"></button>
            </form>
        </div>
        <!-- Search btn -->
        <div class="search-button">
            <a href="#" id="search-btn"><img src="/static/home/img/core-img/search-icon.png" alt="Search"></a>
        </div>
        <!-- Login/Register btn -->
        <div class="login-register-btn">
            <a href="/auth/login">Login</a>
        </div>
    </div>
</nav>
