{% extends 'base.html' %}

{% block headContent %}
    {{super()}}
    <link href="/static/lite/css/app-dashboard.css" rel="stylesheet">
{% endblock %}

{% block mainContent %}
<div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
                  <h1 class="display-4">Sistem Pakar Mendiagnosa Penyakit Pada Gigi</h1>
                  <p class="lead">Menggunakan Teorema Bayes dan VCIRS</p>
                  <hr class="my-4">
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/admin/rules" role="button">Rule</a>
                  </p>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h3 class="card-title m-b-5"><span class="lstick"></span>Perbandingan Gejala</h3>
                        </div>
                        <div class="ml-auto">
                        </div>
                    </div>
                    <div id="gejala-chart" class="p-relative" style="height:360px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Sales overview chart -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h3 class="card-title m-b-5"><span class="lstick"></span>Perbandingan Penyakit</h3>
                        </div>
                        <div class="ml-auto"></div>
                    </div>
                    <div id="main-chart" class="p-relative" style="height:360px;"></div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- visit charts-->
        <!-- ============================================================== -->
    </div>

    <!-- ============================================================== -->
    <!-- Projects of the month -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Blog and website visit -->
    <!-- ============================================================== -->
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        var penyakit_labels = {{penyakit_labels|safe}};
        var penyakit_counts = {{penyakit_counts|safe}};
        var gejala_labels = {{gejala_labels|safe}};
        var gejala_counts = {{gejala_counts|safe}};
    </script>
    <script src="/static/lite/js/app-dashboard.js"></script>
{% endblock %}